@model IEnumerable<Country>
@{
    ViewData["Title"] = "Index";
}

@if (TempData.ContainsKey("Status"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Status"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-4" style="width: 18rem;">
                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h7 class="card-title">@item.PartsOfTheWorld</h7>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Area @item.Area</li>
                    <li class="list-group-item">Population @item.Population</li>
                </ul>
                <div class="card-body">
                    <p class="card-text">@Html.Raw(@item.Description)</p>
                </div>
            </div>
        }
    </div>
}
